.info-content {
  margin: 0 20vh;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-content > * {
  margin: 3vh;
}

.info-skyline {
  width: 100%;
  height: 30vh;
}

.info-technologies {
  width: 100%;
  height: 30vh;
}